@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: Amalfi;
  src: url(AmalfiCoast.ttf); }

body {
  font-size: 1.6rem;
  font-family: DM Serif Display, sans-serif; }

p {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 300; }

.signature {
  font-family: Amalfi, sans-serif; }

.navigation {
  position: relative;
  height: 8rem;
  background-color: #FAF4E5; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    position: absolute;
    right: 2rem;
    top: 2rem; }
    .navigation__button:hover {
      cursor: pointer; }
    .navigation__button--bar {
      position: relative;
      background-color: #000; }
      .navigation__button--bar, .navigation__button--bar::before, .navigation__button--bar::after {
        width: 3rem;
        height: 1.5px;
        background-color: #000;
        display: inline-block;
        border-radius: 2px; }
      .navigation__button--bar::before, .navigation__button--bar::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .navigation__button--bar::before {
        top: -.9rem; }
      .navigation__button--bar::after {
        top: .9rem; }
  .navigation__nav {
    display: none;
    width: 100%;
    text-align: center;
    font-family: Karla, sans-serif;
    Background-color: #FAF4E5; }
  .navigation__list {
    list-style: none;
    padding: 2rem 0; }
  .navigation__item:not(:last-child) {
    margin-bottom: 2rem; }
  .navigation__link {
    text-decoration: none;
    color: inherit; }
    .navigation__link:hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 1rem;
      text-decoration-thickness: 1px;
      color: #000; }
  .navigation__logo {
    position: absolute;
    top: .5rem;
    left: 2rem;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: #C5A78C; }
    .navigation__logo--p-rel {
      position: relative;
      height: 100%;
      width: 100%; }
    .navigation__logo--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 2px;
      color: #a3876e;
      font-family: DM Serif Display, sans-serif; }

#navi_toggle:checked ~ .navigation__nav {
  display: block; }

#navi_toggle:checked + .navigation__button .navigation__button--bar {
  background-color: transparent; }

#navi_toggle:checked + .navigation__button .navigation__button--bar::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
  top: 0;
  left: 0;
  transform: rotate(135deg); }

#navi_toggle:checked + .navigation__button .navigation__button--bar::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
  top: 0;
  left: 0;
  transform: rotate(-135deg); }

@media (min-width: 992px) {
  .navigation {
    display: block;
    height: 15rem;
    background-color: #FAF4E5; }
    .navigation__checkbox {
      display: none; }
    .navigation__button {
      display: none;
      order: 2; }
      .navigation__button:hover {
        cursor: pointer; }
    .navigation__nav {
      display: block;
      padding: 0 5rem;
      width: 100%;
      height: 100%;
      font-family: Karla, sans-serif; }
    .navigation__list {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0; }
    .navigation__item {
      font-size: 2rem;
      padding-bottom: 1rem; }
      .navigation__item:not(:last-child) {
        margin-right: 9rem;
        margin-bottom: 0; }
    .navigation__logo {
      position: absolute;
      z-index: 10000;
      top: 7.5rem;
      right: 2rem;
      left: auto;
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      background-color: #C5A78C; }
      .navigation__logo--p-rel {
        position: relative;
        height: 100%;
        width: 100%; }
      .navigation__logo--text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 2px; } }

.hero {
  height: 50rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hero__header {
    letter-spacing: .2rem;
    margin: 0 2rem; }
  .hero__title {
    font-size: 3rem;
    margin-top: 12rem;
    margin-bottom: 4rem; }
  .hero__photo {
    margin-top: 4rem;
    width: 50%; }

.signature__format {
  position: static;
  bottom: -4rem;
  left: 55rem;
  font-size: 3rem; }

@media (min-width: 576px) {
  .hero__title {
    font-size: 4rem;
    margin-top: 10rem; }
  .hero__photo {
    width: 30%; }
  .signature__format {
    position: static;
    bottom: -4rem;
    left: 55rem;
    font-size: 3rem; } }

@media (min-width: 768px) {
  .hero__title {
    margin-top: 20rem; }
  .hero__summary {
    font-size: 2.5rem; } }

@media (min-width: 992px) {
  .hero {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-flow: row;
    align-items: center;
    position: relative; }
    .hero__header {
      margin: 0 10rem;
      width: 50%; }
    .hero__title {
      font-size: 6rem; }
    .hero__summary {
      font-size: 3rem; }
    .hero__profile {
      order: 2; }
    .hero__photo {
      width: 35%;
      position: absolute;
      top: -10rem;
      right: 0;
      border-radius: 50%; }
  .signature__format {
    position: absolute;
    bottom: -5rem;
    left: 55rem;
    font-size: 4rem; } }

@media (min-width: 1200px) {
  .signature__format {
    position: absolute;
    bottom: -6rem;
    left: 45rem;
    font-size: 4rem; } }

@media (min-width: 1400px) {
  .hero {
    margin-left: 5rem; }
    .hero__title {
      font-size: 6rem;
      margin-top: 10rem; }
    .hero__summary {
      font-size: 4rem; }
  .signature__format {
    position: absolute;
    bottom: -4rem;
    left: 55rem;
    font-size: 4rem; } }

.connect {
  margin: 1rem; }
  .connect__title {
    font-size: 4rem;
    margin-bottom: 2rem; }
  .connect__info {
    font-size: 2rem; }
  .connect__icon {
    width: 1.5rem; }
  .connect__label {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 700; }

.submit__bg {
  background-color: #C5A78C;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: DM Serif Display, sans-serif;
  letter-spacing: 1px; }
  .submit__bg:hover {
    background-color: #FAF4E5;
    color: #000; }
  .submit__bg:active {
    background-color: #FAF4E5;
    color: #000; }
  .submit__bg:focus {
    background-color: #FAF4E5;
    color: #000; }

@media (min-width: 992px) {
  .connect {
    margin: 10rem 5rem; }
    .connect__title {
      font-size: 8rem;
      margin-bottom: 2rem; }
    .connect__form {
      border: 1px solid #6C808B;
      border-radius: 10px;
      padding: 3rem; }
    .connect__info {
      font-size: 3rem; }
      .connect__info:not(:last-child) {
        margin-bottom: 3rem; }
    .connect__icon {
      width: 3.5rem; } }

.about-me {
  font-size: 1.5rem;
  margin: 5rem 6rem; }
  @media (min-width: 576px) {
    .about-me {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    .about-me {
      font-size: 2.5rem; } }
  .about-me__photo {
    padding: 0 6rem; }

.brand {
  margin: 2rem; }
  @media (min-width: 768px) {
    .brand {
      margin: 4.5rem; } }
  @media (min-width: 992px) {
    .brand {
      margin: 6rem; } }
  .brand__box {
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 5rem;
    margin: 2.5rem auto; }
    @media (min-width: 576px) {
      .brand__box {
        width: 33%;
        margin-bottom: 0; } }
    .brand__box:not(:last-child) {
      margin-right: auto; }
      @media (min-width: 992px) {
        .brand__box:not(:last-child) {
          margin-right: 3rem; } }
  .brand__text {
    font-size: 1.3rem; }
    @media (min-width: 768px) {
      .brand__text {
        font-size: 1.5rem; } }
    @media (min-width: 992px) {
      .brand__text {
        font-size: 2rem; } }

.work {
  margin: 10rem 5rem 10rem 5rem; }
  .work__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100%; }
    @media (min-width: 992px) {
      .work__container {
        flex-direction: row; } }
  .work__project {
    width: 100%;
    height: 30rem;
    margin-bottom: 10rem; }
    .work__project:not(:last-child) {
      margin-right: 10rem; }
  .work__brand {
    display: block;
    margin-top: 1rem;
    background-color: #A3A9A0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative; }
  .work__box {
    background-color: #AB6A46;
    width: 50%;
    height: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: DM Serif Display, sans-serif;
    color: white;
    font-size: 2rem; }
  .work__mockups {
    position: relative;
    max-width: 100%;
    height: 100%; }
  .work__mockup {
    width: 33%;
    position: absolute; }
    .work__mockup--1 {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40%;
      z-index: 1;
      transform: translate(-50%, -50%); }
    .work__mockup--2 {
      position: absolute;
      left: 15%;
      top: 12%;
      z-index: 0; }
    .work__mockup--3 {
      position: absolute;
      right: 15%;
      top: 12%;
      z-index: 0; }

.travel-time {
  margin: 2rem;
  text-align: center; }
  @media (min-width: 992px) {
    .travel-time {
      margin: 5rem;
      text-align: left; } }
  @media (min-width: 1400px) {
    .travel-time {
      margin: 2rem 10rem; } }
  .travel-time__section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 992px) {
      .travel-time__section {
        flex-direction: row;
        justify-content: space-between; } }
  @media (min-width: 992px) {
    .travel-time__purpose {
      width: 60%; } }
  @media (min-width: 992px) {
    .travel-time__design {
      margin-top: 10rem; } }
  @media (min-width: 992px) {
    .travel-time__components {
      margin-top: -15rem; } }
  .travel-time__title {
    font-size: 3rem;
    margin-bottom: 2rem; }
    @media (min-width: 992px) {
      .travel-time__title {
        font-size: 6rem;
        margin-bottom: 10rem; } }
    .travel-time__title--2 {
      font-size: 2.5rem; }
      @media (min-width: 992px) {
        .travel-time__title--2 {
          font-size: 4.5rem;
          margin-bottom: 5rem; } }
  @media (min-width: 992px) {
    .travel-time__tagline {
      font-size: 2.5rem; } }
  @media (min-width: 1400px) {
    .travel-time__tagline {
      font-size: 3rem; } }
  .travel-time__mockups-container {
    max-width: 100%;
    height: auto; }
  .travel-time__mockups {
    max-width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    @media (min-width: 992px) {
      .travel-time__mockups {
        height: 50rem;
        justify-content: space-between; } }
    @media (min-width: 1400px) {
      .travel-time__mockups {
        height: 60rem; } }
  .travel-time__mockup {
    max-width: 100%;
    height: auto; }
    @media (min-width: 992px) {
      .travel-time__mockup {
        margin-right: -2rem; } }
    @media (min-width: 1400px) {
      .travel-time__mockup {
        margin-right: -4rem; } }
    @media (min-width: 992px) {
      .travel-time__mockup--1 {
        align-self: flex-start;
        margin-left: 4rem; } }
    @media (min-width: 992px) {
      .travel-time__mockup--3 {
        align-self: flex-end; } }
  .travel-time__person-name {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    margin-bottom: 2rem; }
    @media (min-width: 992px) {
      .travel-time__person-name {
        font-size: 2.5rem;
        margin-bottom: 5rem; } }
  @media (min-width: 992px) {
    .travel-time__pain-point {
      font-size: 2.2rem; } }
  .travel-time__accessibility {
    margin: 10rem 0; }

.team-portal {
  height: 80vh; }
