<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/site.css">
    <title>Amanda Fox <%= title %></title>
</head>
<body>
    <div class="navigation">
      <div class="navigation__logo">
        <a href="/"><div class="navigation__logo--p-rel"><span class="navigation__logo--text">A|F</span></div></a>
      </div>
        <input type="checkbox" class="navigation__checkbox" id="navi_toggle">
        <label for="navi_toggle" class="navigation__button">
            <span class="navigation__button--bar"></span>
        </label>
        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item"><a href="/about" class="navigation__link">about</a></li>
            <li class="navigation__item"><a href="/work" class="navigation__link">work</a></li>
            <li class="navigation__item"><a href="/Amanda Fox Resume.pdf" class="navigation__link">resume</a></li>
            <li class="navigation__item"><a href="/contact" class="navigation__link">contact</a></li>
          </ul>
        </nav>
      </div>