<%- include("../partials/header.ejs", {title: "| About"}); %> 
<div class="about-me">
    <div class="d-flex justify-content-between">
        <div>
            <p class="about-me__p1 mb-5">
                I’m Amanda! Currently, I’m a unit manager in a contact center who was recently introduced to the world of User Experience. 
                Our business partners in UX wanted to learn more about the contact center workflows and processes, and I presented some live call observations and further explanation to the group. 
            </p>
            <p class="mb-5">Through this partnership, I learned more about the roles and responsibilities in UX, and the value they bring to the organization. 
                As a prior claim handler, I found it extremely interesting to see the designs that influence and support our customers throughout their claim experience.
            </p>
        </div>
        <div class="about-me__photo">
            <img src="../../images/about-me-photo.png" alt="">
        </div>
    </div>
    <p class="about-me__p2">
        Following my presentation with the team, I was lucky enough to be paired with an incredible mentor, (shoutout to Sam!) who has taught me so much about about the fundamentals of UX, and has encouraged me throughout this journey. 
        I look forward to the continuous learning and development that is to come, and hope to earn a position as a User Experience Designer in the near future.
    </p>
</div>
<%- include("../partials/footer.ejs"); %> 