<%- include("../partials/header.ejs", {title: "| Brand"}); %> 
<div class="brand">
    <h1 class="display-1">Personal Branding</h1>
    <p>I’ve incorporated my personal style in my branding and throughout my portfolio. I find clean, simplistic designs visually appealing and enjoy experimenting with pops of color and various typograhy. I was inspired by others whose portfolios reflected their authentic selves, and I strived to produce a product that too echoed who I am as a person and designer.
    </p>
    <p>The first time I started to design in Figma was for my personal style tile. Below are the first two versions I created, and through helpful feedback sessions I was able to create something that feels authentic to me.</p>
    <img src="../../images/personal-branding-version1.svg" alt="">
    <img class="version2" src="../../images/personal-branding-version2.svg" alt="">
    <img src="../../images/personal-branding-final.svg" alt="">

</div>
<%- include("../partials/footer.ejs"); %> 