<%- include("../partials/header.ejs", {title: "| Contact"}); %>
<section class="connect row">
    <% if(typeof msg !== 'undefined') { %>
        <div class="alert alert-success mt-0" role="alert"><%= msg %></div>
    <% } %>
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="connect__title">Let’s connect</h1>
        <p class="connect__info"><img class="connect__icon" src="../../images/cell_phone_icon.svg"><span class="ms-3 ms-lg-5">+1860.371.4084</span></p>
        <p class="connect__info"><img class="connect__icon" src="../../images/email_icon.svg"><span class="ms-3 ms-lg-5">amanda.e.fox@outlook.com</span></p>
        <p class="connect__info"><img class="connect__icon" src="../../images/map_icon.svg"><span class="ms-3 ms-lg-5">connecticut, usa</span></p>
    </div>
    <div class="col-12 col-md-8 col-lg-6">
        <form class="connect__form mt-3 mt-lg-0" action="/contact" method="post">
            <div class="form-group">
                <label class="form-label connect__label" for="name">Full Name</label>
                <input class="form-control" type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label class="form-label connect__label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label class="form-label connect__label" for="message">Message</label>
                <textarea class="form-control" rows="10" id="message" name="message" required></textarea> 
            </div>
            <div class="d-grid">
                <button class="btn btn-lg btn-primary mt-4 submit__bg" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>

<%- include("../partials/footer.ejs"); %>
    