<%- include("../partials/header.ejs", {title: "Portfolio"}); %> 
     <div class="hero">
        <div class="hero__header">
            <h1 class="hero__title">So glad you're here!</h1>
            <p class="hero__summary">
                I’m a contact center manager turned user 
                experience designer who is passionate about creating 
                designs with a strong customer focus
            </p>
        </div>
        <div class="hero__profile">
          <img class="hero__photo" src="./images/Ellipse 3.jpg" alt="ProfilePhoto">
        </div>
        <div>
          <p class="signature signature__format">- Amanda</p>
        </div>
      </div>
<%- include("../partials/footer.ejs"); %>