<%- include("../partials/header.ejs", {title: "| TravelTime"}); %> 
    <div class="travel-time">
        <div class="travel-time__section">
            <div class="travel-time__text">
                <h1 class="travel-time__title">TravelTime</h1>
                <p class="travel-time__tagline">
                    A travel application user interface designed to streamline the trip planning process
                </p>
            </div>
            <div class="travel-time__mockups-container">
                <div class="travel-time__mockups">
                    <img class="travel-time__mockup travel-time__mockup--1" src="../../images/image 28.svg" alt="">
                    <img class="travel-time__mockup travel-time__mockup--2" src="../../images/image 21.svg" alt="">
                    <img class="travel-time__mockup travel-time__mockup--3" src="../../images/image 33.svg" alt="">
                </div>  
            </div>
        </div>
        <div class="travel-time__purpose">
            <h2 class="travel-time__title--2">Purpose</h2>
            <p class="travel-time__tagline">Create a mobile application with unique features to guide travelers in planning their next trip 
            </p>
        </div>
        <div class="travel-time__design">
            <h2 class="travel-time__title--2">Design</h2>
            <img class="img-fluid" src="../../images/TravelTimeUserFlow.svg" alt="">
        </div>  
        <div class="travel-time__components">
            <h2 class="travel-time__title--2">Component Library</h2>
            <img class="img-fluid" src="../../images/ComponentLibrary.svg" alt="">
        </div>
        <div class="travel-time__personas">
            <h2 class="travel-time__title--2 mb-5">Personas</h2>
            <div class="d-flex flex-column">
                <div class="d-flex mb-5 align-items-center">
                    <img class="img-fluid" src="../../images/Ellipse164.svg" alt="">
                    <div class="ms-4">
                        <h2 class="travel-time__person-name">Jodie, 22</h2>
                        <p class="travel-time__pain-point">Pain Point: Looking for an easier way to keep track of travel deals without have to constantly check the app</p>
                    </div>
                </div>
                <div class="d-flex mb-5 align-items-center">
                    <img class="img-fluid" src="../../images/Ellipse165.svg" alt="">
                    <div class="ms-4">
                        <h2 class="travel-time__person-name">Tasha, 25</h2>
                        <p class="travel-time__pain-point">Pain Point: Wants to know how to organize and share flight, accommodations, and transportation in one go.</p>
                    </div>
                </div>
                <div class="d-flex mb-5 align-items-center">
                    <img class="img-fluid" src="../../images/Ellipse166.svg" alt="">
                    <div class="ms-4">
                        <h2 class="travel-time__person-name">Nick, 27</h2>
                        <p class="travel-time__pain-point">Pain Point: Doesn’t always know what activities to do once he books his holiday destination.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="travel-time__accessibility">
            <h2 class="travel-time__title--2">Accessibility</h2>
            <p class="travel-time__tagline">
                I strove to design an inclusive interface for users. 
                I created elements with clearly associated labels for ease of navigation throughout the design of the application and 
                incorporated the use of speech recognition. 
            </p>
        </div>
    </div>
<%- include("../partials/footer.ejs"); %>