<%- include("../partials/header.ejs", {title: "| My Work"}); %> 
<div class="work">
    <div class="work__container">
        <div class="work__project">
            <h1>Personal Branding</h1>
            <a class="work__brand" href="/work/brand">
                <div class="work__box">
                    <img src="../../images/ALogo.svg" alt="">
                    <span class="pt-4">FOX</span>
                </div>
            </a>
        </div>
        <div class="work__project">
            <h1>Travel App UI</h1>
            <a class="work__brand" href="/work/travel-app-ui">
                <div class="work__mockups">
                    <img class="img-fluid work__mockup work__mockup--1" src="../../images/image 21.svg" alt="">
                    <img class="img-fluid work__mockup work__mockup--2" src="../../images/image 28.svg" alt="">
                    <img class="img-fluid work__mockup work__mockup--3" src="../../images/image 33.svg" alt="">
                </div>
            </a>
        </div>
        <div class="work__project">
            <h1>Unit Manager Team Portal</h1>
            <a href="/work/unit-manager-team-portal">
                <img class="img-fluid mt-4" src="../../images/team_portal.svg" alt="">
            </a>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs"); %> 